robo-layout-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex: 1 0 auto;

  > *:not(router-outlet) {
    display: flex;
    width: 100%;
    min-width: 100%;
    flex: 1 0 auto;
  }
}
