<ng-container *ngIf="!item.hidden">

  <div class="group-title" [ngClass]="item.classes">
    <span class="hint-text">{{item.title}}</span>
  </div>

  <div class="group-items">
    <ng-container *ngFor="let item of item.children">

      <vertical-group *ngIf="item.type == 'group'" [item]="item"></vertical-group>

      <vertical-collapsable *ngIf="item.type == 'collapsable'" [item]="item"></vertical-collapsable>

      <vertical-item *ngIf="item.type == 'item'" [item]="item"></vertical-item>

    </ng-container>
  </div>

</ng-container>
