{
    "useTabs": false,
    "printWidth": 80,
    "tabWidth": 2,
    "singleQuote": true,
    "trailingComma": "none",
    "semi": true,
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "bracketSpacing": true,
    "requirePragma": true,
    "insertPragma": true
}
