@import '@common/scss/common';

#maintenance {
  height: 100%;

  #maintenance-form-wrapper {
    height: 100%;
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint('xs') {
      padding: 16px;
    }

    #maintenance-form {
      max-width: 384px;
      padding: 48px;
      text-align: center;

      @include mat-elevation(2);

      @include media-breakpoint('xs') {
        padding: 24px;
        width: 100%;
      }

      .title {
        font-size: 28px;
        margin-top: 16px;
      }

      .subtitle {
        margin: 16px 0;
        max-width: 300px;
        color: rgba(0, 0, 0, 0.54);
        font-size: 15px;
      }
    }
  }
}
