<ng-container *ngTemplateOutlet="mainContent"></ng-container>

<!------------------------------------------------------------------------------------------------------- -->
<!-- @ PARTIALS -->
<!------------------------------------------------------------------------------------------------------- -->

<!-- MAIN CONTENT -->
<ng-template #mainContent>
  <div id="main">

    <!-- TOOLBAR: Above -->
    <ng-container *ngIf="(toolbar$ | async).position === 'above'">
      <ng-container *ngTemplateOutlet="toolbarTpl"></ng-container>
    </ng-container>
    <!-- / TOOLBAR: Above -->

    <div id="container-1" class="container">
      <!-- NAVBAR: Left -->
      <ng-container *ngIf="(navbar$ | async).position === 'left'">
        <ng-container *ngTemplateOutlet="leftNavbarTpl"></ng-container>
      </ng-container>
      <!-- / NAVBAR: Left -->

      <div id="container-2" class="container">

        <!-- TOOLBAR: Below fixed -->
        <ng-container *ngIf="(toolbar$ | async).position === 'below-fixed'">
          <ng-container *ngTemplateOutlet="toolbarTpl"></ng-container>
        </ng-container>
        <!-- / TOOLBAR: Below fixed -->

        <div id="container-3" class="container">
          <!-- TOOLBAR: Below static -->
          <ng-container *ngIf="(toolbar$ | async).position === 'below-static'">
            <ng-container *ngTemplateOutlet="toolbarTpl"></ng-container>
          </ng-container>
          <!-- / TOOLBAR: Below static -->

          <!-- CONTENT -->
          <anms-layout-content></anms-layout-content>
          <!-- / CONTENT -->
        </div>
      </div>

      <!-- NAVBAR: Right -->
      <ng-container *ngIf="(navbar$ | async).position === 'right'"></ng-container>
      <!-- / NAVBAR: Right -->
    </div>

    <!-- FOOTER -->
    <ng-container *ngTemplateOutlet="footerTpl"></ng-container>
    <!-- / FOOTER -->
  </div>
</ng-template>
<!-- / MAIN CONTENT -->

<!-- TOOLBAR -->
<ng-template #toolbarTpl>
  <ng-container *ngIf="toolbar$ | async as toolbar">
    <anms-layout-toolbar
      *ngIf="!toolbar.hidden"
      [ngClass]="
        toolbar.customBackgroundColor === true
          ? toolbar.position + ' ' + toolbar.background
          : toolbar.position
      "
    >
    </anms-layout-toolbar>
  </ng-container>
</ng-template>
<!-- / TOOLBAR -->

<!-- FOOTER -->
<ng-template #footerTpl>
  <ng-container *ngIf="footer$ | async as footer">
    <anms-layout-footer
      *ngIf="!footer.hidden"
      [ngClass]="
        footer.customBackgroundColor === true
          ? footer.background
          : ' '
      "
    >
  </anms-layout-footer>
  </ng-container>
</ng-template>
<!-- / FOOTER -->

<!-- LEFT NAVIGATION -->
<ng-template #leftNavbarTpl>
  <!--  LEFT NAVIGATION  -->
  <ng-container *ngIf="(navbar$ | async) as navbar">

    <anms-sidebar
      name="navbar"
      class="navbar-sidebar"

      [folded]="navbar.folded"
      [lockedOpen]="'gt-md'"
    >
      <anms-layout-navigation class="left-navigation"></anms-layout-navigation>
    </anms-sidebar>
  </ng-container>
</ng-template>
<!-- / LEFT NAVIGATION -->
