// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@mixin material-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  // -----------------------------------------------------------------------------------------------------
  // @ Forms
  // -----------------------------------------------------------------------------------------------------
  .form-wrapper {
    background-color: map-get($background, card);
  }
}

.custom-mat-tooltip {
  font-size: 12px !important;
  white-space: pre-line;
  max-width: 500px !important;

  &.with-header::first-line {
    font-size: 14px !important;
    line-height: 2.5em;
    font-weight: bolder;
  }
}

// -----------------------------------------------------------------------------------------------------
// @ Forms
// -----------------------------------------------------------------------------------------------------
.form-wrapper {
  padding: 14px;

  .form-title {
    padding: 8px 0;
    font-size: 21px;
  }
}
