@mixin at-layout-toolbar-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  at-layout-toolbar {

    .toolbar-separator {
      background: map-get($foreground, divider);
    }
  }
}
