<!-- DEMO CONTENT -->
<div class="demo-content line-height-1.75">

  <h1 class="m-0">Lorem Ipsum</h1>
  <h4 class="mt-0 secondary-text">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
    velit...</h4>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat lacus arcu, vitae tincidunt nibh sagittis et.
    Aliquam auctor justo eu ante commodo, vitae feugiat ipsum accumsan. Mauris nec mollis turpis. Phasellus in eros
    finibus, luctus leo at, consectetur tortor. Quisque volutpat erat ac libero luctus gravida. Nullam porta gravida
    quam, a porta lectus condimentum non. Mauris porttitor ullamcorper mattis. Pellentesque sed massa eget purus
    sollicitudin semper. Vivamus tristique quis dui ac accumsan. Phasellus vulputate sapien vitae auctor malesuada.
    Nulla maximus rutrum sapien a congue. Pellentesque faucibus fringilla felis ac eleifend. Suspendisse malesuada odio
    ut tincidunt lobortis. Proin nec ipsum id urna congue imperdiet. Sed ut mattis sem. Quisque pretium sapien
    scelerisque, vestibulum massa in, ornare mauris.
  </p>

  <blockquote class="my-24">
    <p>
      Etiam lacinia erat aliquam lacinia eleifend. Duis vestibulum imperdiet hendrerit. Morbi ullamcorper, elit et
      dictum feugiat, ligula felis imperdiet libero, quis condimentum metus dui id lectus. Aliquam erat volutpat. Nullam
      viverra congue ullamcorper. Nulla facilisi. Morbi tellus purus, interdum ac elit nec, consequat pharetra nisi. Nam
      ultricies metus sed sem ullamcorper, at iaculis ipsum pretium.

      Curabitur commodo neque vitae erat ultrices sodales sit amet sed velit. Aliquam erat sem, vestibulum et ante
      vitae, sodales gravida felis. Fusce in hendrerit risus. Ut condimentum diam magna. Nam euismod pulvinar enim, at
      imperdiet leo pharetra eget. Maecenas sagittis sodales tortor. Cras pretium, ipsum nec volutpat finibus, nisl odio
      vehicula sem, condimentum tempor mi risus eget neque. Sed iaculis dapibus porttitor.
    </p>

    <footer>
      Lorem Ipsum
    </footer>
  </blockquote>

  <p>
    Etiam lacinia erat aliquam lacinia eleifend. Duis vestibulum imperdiet hendrerit. Morbi ullamcorper, elit et
    dictum feugiat, ligula felis imperdiet libero, quis condimentum metus dui id lectus. Aliquam erat volutpat. Nullam
    viverra congue ullamcorper. Nulla facilisi. Morbi tellus purus, interdum ac elit nec, consequat pharetra nisi. Nam
    ultricies metus sed sem ullamcorper, at iaculis ipsum pretium.
    <b>etiam lacinia erat aliquam lacinia eleifend</b>. Etiam lacinia erat aliquam lacinia eleifend. Duis vestibulum
    imperdiet hendrerit. Morbi ullamcorper, elit et
    dictum feugiat, ligula felis imperdiet libero, quis condimentum metus dui id lectus. Aliquam erat volutpat. Nullam
    viverra congue ullamcorper. Nulla facilisi. Morbi tellus purus, interdum ac elit nec, consequat pharetra nisi. Nam
    ultricies metus sed sem ullamcorper, at iaculis ipsum pretium.
  </p>

  <p>
    Etiam lacinia erat aliquam lacinia eleifend. Duis vestibulum imperdiet hendrerit. Morbi ullamcorper, elit et
    dictum feugiat, ligula felis imperdiet libero, quis condimentum metus dui id lectus. Aliquam erat volutpat. Nullam
    viverra congue ullamcorper. Nulla facilisi. Morbi tellus purus, interdum ac elit nec, consequat pharetra nisi. Nam
    ultricies metus sed sem ullamcorper, at iaculis ipsum pretium.
  </p>

  <p class="mt-8 mb-24 secondary-text">
    <em>Sed iaculis dapibus porttitor.</em>
  </p>

  <p>
    Etiam lacinia erat aliquam lacinia eleifend. Duis vestibulum imperdiet hendrerit. Morbi ullamcorper, elit et
    dictum feugiat, ligula felis imperdiet libero, quis condimentum metus dui id lectus. Aliquam erat volutpat. Nullam
    viverra congue ullamcorper. Nulla facilisi. Morbi tellus purus, interdum ac elit nec, consequat pharetra nisi. Nam
    ultricies metus sed sem ullamcorper, at iaculis ipsum pretium.
  </p>

  <p>
    Etiam lacinia erat aliquam lacinia eleifend. Duis vestibulum imperdiet hendrerit. Morbi ullamcorper, elit et
    dictum feugiat, ligula felis imperdiet libero, quis condimentum metus dui id lectus. Aliquam erat volutpat. Nullam
    viverra congue ullamcorper. Nulla facilisi. Morbi tellus purus, interdum ac elit nec, consequat pharetra nisi. Nam
    ultricies metus sed sem ullamcorper, at iaculis ipsum pretium. <a href="#">At iaculis ipsum pretium..</a>
    Etiam lacinia erat aliquam lacinia eleifend. Duis vestibulum imperdiet hendrerit.
  </p>

  <div fxLayout="row nowrap" fxLayoutAlign="space-between center">

    <p>
      <em class="mat-title"> Etiam lacinia erat aliquam lacinia eleifend. Duis vestibulum imperdiet hendrerit.</em>
      <br>
      Etiam lacinia erat aliquam lacinia eleifend. Duis vestibulum imperdiet hendrerit. Morbi ullamcorper, elit et
      dictum feugiat, ligula felis imperdiet libero, quis condimentum metus dui id lectus. Aliquam erat volutpat. Nullam
      viverra congue ullamcorper. Nulla facilisi. Morbi tellus purus, interdum ac elit nec, consequat pharetra nisi. Nam
      ultricies metus sed sem ullamcorper, at iaculis ipsum pretium.

      <em> Etiam lacinia erat aliquam lacinia eleifend. Duis vestibulum imperdiet hendrerit.</em>
    </p>

    <img style="margin-left: 24px; max-height: 240px" src="assets/images/droid.png">
  </div>

  <p>
    Etiam lacinia erat aliquam lacinia eleifend. Duis vestibulum imperdiet hendrerit. Morbi ullamcorper, elit et
    dictum feugiat, ligula felis imperdiet libero, quis condimentum metus dui id lectus. Aliquam erat volutpat. Nullam
    viverra congue ullamcorper. Nulla facilisi. Morbi tellus purus, interdum ac elit nec, consequat pharetra nisi. Nam
    ultricies metus sed sem ullamcorper, at iaculis ipsum pretium. <a href="#">At iaculis ipsum pretium..</a>
    Etiam lacinia erat aliquam lacinia eleifend. Duis vestibulum imperdiet hendrerit.
  </p>

  <p>
    Etiam lacinia erat aliquam lacinia eleifend. Duis vestibulum imperdiet hendrerit. Morbi ullamcorper, elit et
    dictum feugiat, ligula felis imperdiet libero, quis condimentum metus dui id lectus. Aliquam erat volutpat. Nullam
    viverra congue ullamcorper. Nulla facilisi. Morbi tellus purus, interdum ac elit nec, consequat pharetra nisi. Nam
    ultricies metus sed sem ullamcorper, at iaculis ipsum pretium. <a href="#">At iaculis ipsum pretium..</a>
    Etiam lacinia erat aliquam lacinia eleifend. Duis vestibulum imperdiet hendrerit.
  </p>
</div>
<!-- / DEMO CONTENT -->
