@import '@common/scss/common';

:host {
  z-index: 3;
  display: flex;
  flex: 0 0 auto;
  position: absolute;
  bottom: 0;
  right: 1em;
  opacity: 0.65;

  &:hover {
    opacity: 1;
  }

  .footer.mat-toolbar {
    background: inherit;
    color: inherit;
    height: 1.2em;
    font-size: 0.8em;
    margin: 0.2em;
    padding: 0.2em
  }

  &.above {
    position: relative;
    z-index: 99;
  }
}
